<!doctype html public "-//w3c//dtd html 4.0 strict//en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>reddit-stream - a better way to view live reddit threads</title>

<link rel="stylesheet" href="content/css/default.css" type="text/css">
<link rel="stylesheet" href="content/css/base.css" type="text/css">

<style>

#c-main {
	margin: 64px;
}

h1#title {
	margin: 0;
	padding: 0;
}

#info-block {
	margin-top: 16px;
}

#images {
	margin-top: 16px;
}

.bookmarklet {
	font-size: 20pt;
}

#top-links {
	margin-top: 12px;
	width: 400px;
}

#top-links h2 {
	margin-bottom: 12px;
}

#top-links a {
	font-weight: bold;
}

</style>

</head>

<body>

<div id='c-main'>

<h1 id='title'>A better way to view live-event reddit threads</h1>

<div id='info-block'>
	<div>Just replace reddit.com with reddit-stream.com on the comments page (or use this bookmarklet:
	<a href="javascript:(function stream() {var s = window.location.href.split('/');var id = s[s.indexOf('comments')+1];if(s.indexOf('comments') != -1) { window.location.href = 'http://{{url_root}}/comments/' + id;	}})();"><b>reddit stream</b></a>) to get a live updating list of the newest comments.
	</div>
</div>

<div id='images'>
	<img src='content/imgs/example-screenshot.png' style='width:800px; border: 1px solid gray; padding: 8px;'>
</div>

{% if top_links.length > 0 %}
<div id='top-links'>
	<h2>popular now:</h2>
	{% for link in top_links %}
	<div><a href='comments/{{link.thread_id}}/'>{{link.title}}</a></div>
	{%endfor%}
</div>
{% endif %}

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-57284-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
