<!doctype html public "-//w3c//dtd html 4.0 strict//en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>reddit-stream</title>

<link rel="stylesheet" href="content/css/default.css" type="text/css">
<link rel="stylesheet" href="content/css/base.css" type="text/css">

<style>

#c-main {
	margin: 64px;
}

.bookmarklet {
	font-size: 20pt;
}

</style>

<script>

function stream() {
	var s = 'http://www.reddit.com/r/AskReddit/';//window.location.href.split('/');
	var id = s[s.indexOf('comments')+1];

	if(s.indexOf('comments') != -1) {
		window.location.href = 'http://localhost/redditstream/comments/' + id;
	}
}


</script>

</head>

<body>

<div id='c-main'>
	<a class='bookmarklet' href="javascript:stream();">reddit stream (test)</a>

	<a class='bookmarklet' href="javascript:(function stream() {var s = window.location.href.split('/');var id = s[s.indexOf('comments')+1];if(s.indexOf('comments') != -1) { window.location.href = 'http://localhost/redditstream/comments/' + id;	}})();">reddit stream</a>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-57284-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
