/* general, page wide */

html, body {
	/*height: 100%;*/
}

#c-list {
	margin-left: 48px;
	margin-bottom: 24px;
	width: 55%;
}

/* sidebar */

#sidebar {
	position: fixed;
	top:0;
	left: 60%;
	width: 40%;
}

#c-info {
	font-size: 9pt;
	height: 400px;
	overflow: hidden;
}

#sidebar.expanded {
	height: 100%;
	overflow: scroll;
}

#sidebar #post-title {
	font-size: 20pt;
}

#post-title a {
}

/* main body */

/* comments */
.comment {
	margin-top: 12px;
}

/* comment header */
.comment .c-header {
	font-size: 10pt;
}

.c-header .c-username {
	font-weight: bold;
}

.c-header a.r-link {
	padding: 2px 4px;
}

.c-header a.has-replies {
	background: #FFF6BF;
}

/* comment body */

.c-body {
	border: 1px solid #ccc;
	background: #eee;
	margin-top: 4px;

	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 8px;
}

.c-body p {
	margin-top: 4px;
}

.c-time {
	font-size: 9pt;
	border: 1px solid #ccc;
	background: white;
	padding: 2px;
	margin-top: 4px;
}

.c-body div.hidden {
	display:none;
}

/* comment replies */

.comment .c-replies {
	margin-left: 24px;
}

.c-replies .comment {
	padding-left: 8px;
	border-left: 1px solid #ddd;
}

.c-replies div.loading {
	margin-top: 12px;
	font-style: italic;
	padding-left: 8px;
	border-left: 1px solid #ddd;
}