/* general, page wide */

html, body {
	/*height: 100%;*/
}

#c-list {
	margin-left: 48px;
	width: 55%;
}

/* sidebar */

#sidebar {
	position: fixed;
	top:0;
	left: 60%;
	width: 40%;
}

#c-info {
	font-size: 9pt;
	height: 400px;
	overflow: hidden;
}

#sidebar.expanded {
	height: 100%;
	overflow: scroll;
}

#sidebar #post-title {
	font-size: 20pt;
}

/* main body */
.comment {
	margin-top: 12px;
}

.comment .c-username {
	font-weight: bold;
	font-size: 10pt;
}

.c-body {
	background: #eee;
	margin-top: 4px;
	padding: 4px;
}

.c-body p {
	margin-top: 4px;
}
