
#sidebar {
	margin-left: 12px;
	width: 100%;
	margin:0;
	padding:0;
	position: static !important;
}

#c-main {
	margin-left: 18px;
	width: 95%;
}

#c-list {
	width: 100%;
}

.c-new textarea {
	width: 90%;
}

#pi-layoutspan {
	display: none;
}
