
#sidebar {
	margin-left: 12px;
	width: 100%;
	margin:0;
	padding:0;
	position: static !important;
}

#c-main {
	margin-left: 18px;
	margin-right: 8px;
	width: auto;
}

#c-list {
	width: 100%;
}

.c-new textarea {
	width: 90%;
}

#pi-layoutspan {
	display: none;
}

.c-header div {
	float: none;
}

.c-header div.actions {
	margin-top: 4px;
}
