/*
 * All this is code to make the footer sticky.
 * from: http://ryanfait.com/sticky-footer/
 */
html, body {
	height: 100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -48px; /* the bottom margin is the negative value of the footer's height */
}

#f-wrapper, #push {
	height: 48px; /* .push must be the same height as .footer */
}
